* {
    -fx-font-family: Helvetica;
}

.root {
    -fx-background-color: #181818;
}

#mainMenu {
    -fx-pref-width: 200;
    -fx-pref-height: 200;
}

.button {
    -fx-background-color: #F2F2F2;
    -fx-text-fill: #000;
    -fx-pref-width: 100;
    -fx-pref-height: 20;
}

.alertButton {
    -fx-pref-width: 90;
    -fx-pref-height: 18;
}

.label {
    -fx-font-size: 15pt;
    -fx-text-fill: #F2F2F2;
    -fx-font-family: Impact;
}

#alertLabel {
    -fx-font-size: 14pt;
}